name: iOS Build
on: [push, pull_request]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Xcode
        run: sudo xcode-select -s /Applications/Xcode_16.1.app/Contents/Developer
      - name: Install dependencies
        run: brew install ninja
      - name: Build
        run: ./build-libretro-ios.sh
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: citra_libretro_ios
          path: build-ios/citra_libretro_ios.dylib
